.about-page {
  background-color: #302c23;
  height: 100%;
}

.top-about {
  display: flex;
  justify-content: space-between;
}

.about-name {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 20px;
}

.about-name > h1 {
  font-size: 50px;
}

.about-navigation {
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.about-navigation > a {
  color: white;
  font-size: 24px;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border: 3px solid transparent;
}

.about-navigation > a:nth-of-type(4){
  border: 3px solid white;
  border-radius: 4px;
}

.about-navigation > a:hover {
  border: 3px solid white;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.about-top-mid, .about-bottom-mid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-height: 400px;
  margin-bottom: 50px;
}

.snow-pic, .grad-pic {
  width: 30%;
}

.snow-pic > img, .grad-pic > img {
  width: 100%;
  height: auto;
  min-width: 350px;
}

.grad-pic > img {
  margin-right: 40px;
}

.about-me, .more-about-me {
  width: 30%;
  color: white;
  margin: 0 40px;
  line-height: 140%;
  max-height: 100%;
  font-size: 20px;
  min-width: 350px;
}

.about-me span {
  text-decoration: line-through;
  -moz-text-decoration-color: red; /* Code for Firefox */
  text-decoration-color: red;
}

.about-bottom-mid {

}
