/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, html, #root, #root > div {
  height: 100%;
}

.main-page {
  width: 100%;
  height: 100%;
  background: url("http://res.cloudinary.com/dslok1mwv/image/upload/v1496337073/15e299fed264cbeca9ca94e752d975cb_stxdbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 150px;
}

.main-content > h1 {
  font-size: 90px;
  font-weight: bold;
  color: white;
}

.main-content > h3 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.splash-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.splash-navigation > h3 {
  color: white;
  font-size: 24px;
  margin: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.splash-navigation > h3:nth-of-type(4){
  padding: 10px;
  border: 3px solid white;
  border-radius: 8%;
}

.splash-icons > a {
  color: white;
  margin: 10px;
}

.splash-icons > a:hover {
  color: black;
}
