.portfolio {
  background-color: #302c23;
  min-height: 100%;
}

.top-portfolio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.portfolio-name {
  color: white;
  margin: 20px;
}

.portfolio-name > h1 {
  font-size: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-title, .portfolio-title {
  color: white;
  margin-bottom: 20px;
}

.skillz h2 {
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 5px solid black;
  margin-bottom: 50px;
  flex-wrap: wrap;
}


.skillz {
  width: 13%;
  height: 200px;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-right: 10px;
}

.skillz > h2 {
  margin: inherit auto;
}

.skills-container img {
  width: 100px;
  height: 100px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container {
  width: 90%;
}

.uncappt, .chowtime {
  background-color: white;
  margin-bottom: 30px;
  border: 5px solid black;
}

.uncappt {
  display: flex;
  justify-content: space-between;
}

.uncappt h2, .chowtime h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 36px;
}

.uncappt img {
  width: 500px;
  height: 300px;
  margin: 30px;
  border: 3px solid black;
}

.uncappt-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.uncappt-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.uncappt-right-top {
  margin: 50px 50px 0 0;
  line-height: 150%;
  font-size: 26px;
}

.uncappt-links, .chowtime-links {
  line-height: 150%;
  font-size: 26px;
  margin-bottom: 20px;
}

.uncappt-links > a {
  color: blue;
}

.uncappt-links > a:first-of-type {
  margin-right: 5px;
}

.uncappt-links > a:hover {
  text-decoration: underline;
}

.chowtime {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chowtime-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chowtime-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}

.chowtime-links > a {
  color: blue;
}

.chowtime-links > a:first-of-type {
  margin-right: 5px;
}

.chowtime-links > a:hover {
  text-decoration: underline;
}

.chowtime-left-top {
  margin: 50px 50px 0 0;
  line-height: 150%;
  font-size: 26px;
}


.chowtime img {
  height: 500px;
  width: auto;
  margin: 30px;
  border: 3px solid black;
}
