<!DOCTYPE html>
<html>
  <head>
    <title>Robin Wilborn</title>
    <link rel="shortcut icon" href="http://res.cloudinary.com/dslok1mwv/image/upload/v1496340474/favicon_1_cngoze.ico" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
