<!DOCTYPE html>
<html>
  <head>
    <title>Robin Wilborn</title>
    <link rel="shortcut icon" href="http://res.cloudinary.com/dslok1mwv/image/upload/v1496340474/favicon_1_cngoze.ico" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-101242526-2', 'auto');
     ga('send', 'pageview');

  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
